@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position:relative ;
    width: 100%;
    height: 100vh;
    display: flex;
}
section.Img{
    position:relative ;
    width: 50%;
    height: 100%;
}

section.Img:before {
    content: '';
    background : linear-gradient(225deg,#e91e63,#03a9f4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    mix-blend-mode: screen;
    }
section.Img img{
    position:absolute ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

section .content .form{
    width: 50%;
}
section .content .form h2{

    color: #607d8b;
    font-size: 1.5cm;
    font-weight:600 ;
    margin-bottom: 20px;
    border-bottom:4px solid #ff4584;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;

}

section .content .form.input{
    margin-bottom: 20px;
}

.inputX span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
.inputX input{

width: 100%;
padding: 10px 20px;
outline: none;
font-weight: 400;
border: 1px solid #607d8b;
font-size: 16px;
letter-spacing: 1px;
color: #607d8b;
background: transparent;
border-radius: 30px;
}

button{
    width: 100%;
padding: 10px 20px;
outline: none;
font-weight: 400;
border: 1px solid #607d8b;
font-size: 16px;
letter-spacing: 1px;
color: #607d8b;
background: transparent;
border-radius: 30px;
}

.inputX input[type="submit"]
{
    background: #ff4584;
    color: #fff;
    outline: none;
    border:none;
    font-weight: 500;
    cursor: pointer;

}


.inputX input[type="submit"]:hover{

    background: #9e9497;
}

button{
    background: #ff4584;
}
button:hover{

    background: #c3dfec;
}

.inputX p{
    color: #607d8b;
}

.inputX p a{
    color: #ff4584
}

/* .inputX input:hover{
    background: #ff4584;
    color: #ff4584;
    letter-spacing: 15px;
    border-radius: 10px;
    break-inside: auto;


} */

